.intro-message {
	text-align: center;
	font-weight: bold;
	font-family: Papyrus, fantasy;
	padding-top: 21%;
	padding-bottom: 5%;
	color: #fff;
	
}

body {
	 background: url(IMG_3653.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.signup-form {

	color: #404040;
	text-align: center;


}

.email{
	color: #000;
}

